.Rproj.user
.RData
.Rhistory
RAPPORT_*
rapport*
SHARE_FOLDER.Rproj
ignoreCodes.R
Notes.txt
rdata/fusion_*
SC_HIC_NAME.xlsx
rdata/all_net_result.rda
rdata/cells_matrix.rda
rdata/chrs_count.xlsx
.gitignore
rapportClustering*
Clustering_*
EnhancerPredictions*
find_paires*
rdata/SCORE_ABC_RESULTS/*
rdata/SCORE_ABC_RESULTS/