.Rproj.user
.RData
.Rhistory
SHARE_FOLDER.Rproj
.gitignore
ignoring_files/*
ignorng_data/*
ignoring_code/*
rdata/fusion_*
rdata/all_net_result.rda
rdata/cells_matrix.rda
rdata/chrs_count.xlsx
rdata/SCORE_ABC_RESULTS/*
rdata/SCORE_ABC_RESULTS/
abc_scores_cells_figures/
Sc_Cell_In-silico_Hi-C/*
rdata/MCMCImpute_result*
rapports_files/*
rdata/HIC156_smaller*
rdata/cell_folder/*
rapport*
RScript_HicImpute
rdata/juicerOutputFiles/*
